/* Universal setting for elements not to have additional padding or margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* all links color with no underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* setting all paragraph font size */
p {
    font-size: 16px;
}

/* class for items floating to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* class for items floating to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

body {
    background-color: #d9dcd6;
}

/* Setting fonts, colors, and text spacing in header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Setting font size and spacing for company name */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* SEO different color in company name in header */
header h1 .seo {
    color: #d9dcd6;
}

/* Setting spacing for navigation items in header with different font style and size */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Setting nav items to show horizontally with spacing */
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Main "background" image under header */
figure img{
    margin-bottom: 25px;
    display: block;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

/* setting main section to stack items vertically and leave space for aside to right */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* main content appearance and spacing */
main section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* limit main section image height */
main section img{
    max-height: 200px;
}

/* adjusting h2 spacing and font in main section */
main section h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* setting spacing and appearance of aside, setting to the right of main, applying clear:both to ensure visual appearance of floated items within aside */
aside{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* aside spacing and color */
aside section{
    margin-bottom: 32px;
    color: #ffffff;
}

/* adjusting aside h3 spacing */
aside section h3{
    margin-bottom: 10px;
    text-align: center;
}

/* aside images spacing and limit width */
aside section img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
